<%- include('../partials/header') %>

<style>
  .event-jadwal {
  background-color: #C2DEDC;
  color: white;
}

.event-tugas {
  background-color: #FD8A8A;
  color: black;
}

</style>
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Dashboard</h1>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main Content -->
  <section class="content">
  <div class="row">
    <!-- Left col -->
    <section class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div style="display: flex; justify-content: space-between;" >
          <h4 class="card-title text-muted">Keterangan Kelas</h4>
          <form id="edit_kelas_form">
            <% if (role == 'guru') { %>
              <div id="edit_kelas_1">
              <a href="javascript:void(0)" onclick="EditKelasToggle()">
                <i class="fa fa-pen" style="color: black;" title="Edit Kelas"></i>
              </a>
            </div>
             <div id="edit_kelas_2" style="display: none;">
              <button type="button" class="btn btn-secondary" onclick="EditKelasToggle()">Kembali</button>
              <button type="submit" class="btn btn-light" style="background-color: antiquewhite;">Simpan</button>
            </div>
            <% } %>
          </div>
          </div>
          
          <!-- body -->
          <div class="card-body">
            <h4 id="nama_kelas">Nama Kelas: <%= kelas.kelas_name %></h4>
            
            <input type="hidden" id="id_edit_kelas" name="id_edit_kelas" value="<%= kelas.kelas_id %>">
            <input type="text" class="form-control" name="edit_nama_kelas" id="edit_nama_kelas" style="display: none;" value="<%= kelas.kelas_name %>">
            <div class="tab-custom-content">
              <p id="kelas_desc" class="lead mb-0"><%= kelas.kelas_description %></p>
              <textarea name="edit_deskripsi_kelas" id="edit_deskripsi_kelas" rows="4" class="form-control" style="display: none;"><%= kelas.kelas_description %></textarea>
            </form>
            </div>
          </div>
      </div>
    </section>

    <section class="col-lg-6">
      <!-- Materi Card -->
      <div class="card">
        <!-- Card header -->
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h3 class="card-title">
              <i class="nav-icon fas fa-regular fa-book"></i>
              Materi
            </h3>
            <a href="/materi/<%= kelas_code %>">Lihat semua</a>
          </div>
          <div class="card-tools">
          </div>
        </div> 
        <!-- Card body -->
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <% arr_materi.forEach(materi => { %>
              <li class="list-group-item">
                <i class="fa fa-paperclip"></i>
                <%= materi.judul %>
                <p class="card-text">
                <% if (materi.description.length > 100) { %>
                 <%= materi.description.slice(0,100)+'...' %>
                <% } else { %>
                  <%= materi.description.slice(0, 100) %>
                <% } %>
                </p>
              </li>
              <% }) %>
          </ul>
        </div>
        </div>
        
      <!-- Tugas Card -->
    <div class="card">
      <!-- Card header -->
      <div class="card-header">
        <div class="d-flex justify-content-between">
          <h3 class="card-title">
            <i class="nav-icon fas fa-regular fa-clipboard"></i>
            Tugas
          </h3>
          <a href="/tugas/<%= kelas_code %>">Lihat semua</a>
        </div>
        <div class="card-tools">
        </div>
      </div> 
      <!-- Card body -->
      <div class="card-body table-responsive p-0">
        <table class="table table-striped table-valign-middle">
          <% if (role == "guru") { %> 
            <thead>
              <tr>
                <th>Judul</th>
                <th>Deadline</th>
              </tr>
            </thead>
            <tbody>
              <% arr_tugas.forEach(tugas => { %>
                <tr>
                  <td><%= tugas.tugas_name %></td>
                  <td><%= moment(tugas.deadline).locale('id').format('dddd, Do MMMM YYYY, h:mm A') %></td>
                </tr>
                <% }) %>
              </tbody>
              <% } else { %>
                <thead>
                  <tr>
                    <th>Judul</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <% arr_tugas.forEach(tugas => { %>
                    <tr>
                      <td><%= tugas.tugas_name %></td>
                      <td>
                        <% if (!history[tugas.tugas_id]) { %>
                         <span class="badge badge-danger">Belum mengerjakan</span>
                        <% } else {%>
                          <span class="badge badge-success">Selesai</span>
                        <% } %>
                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
              <% } %>
        </table>
      </div>
        </div>

        <!-- Orang Card -->
        <div class="card">
          <!-- Card header -->
          <div class="card-header">
            <div class="d-flex justify-content-between">
              <h3 class="card-title">
                <i class="nav-icon fas fa-solid fa-users"></i>
                Orang
              </h3>
              <a href="/orang/<%= kelas_code %>">Lihat semua</a>
            </div>
            <div class="card-tools">
            </div>
          </div> 
          <!-- Card body -->
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <% arr_orang.forEach(orang => { %>
                <li class="list-group-item">
                  <img src="/image/<%= orang.photo_path %>" alt="Avatar" class="img-circle img-size-32 mr-2">
                  <% if (orang.role_user == 'guru') { %>
                   Guru
                  <% } else {%>
                    Murid
                  <% } %> - <%= orang.username %>
                </li>
                <% }) %>
              </ul>
          </div>
  </section>

  <!-- Right Col -->
  <section class="col-lg-6">
    <!-- Calendar card -->
    <div class="card">
      <div class="card-header border-0">
        <div class="d-flex justify-content-between">
        <h3 class="card-title">
          <i class="far fa-calendar-alt"></i>
          Calendar
        </h3>
        <h4 class="lead mb-0"><b>Keterangan:</b> -<span class="badge" style="background-color: #C2DEDC;">Jadwal Kelas</span> -<span class="badge" style="background-color: #FD8A8A;">Deadline Tugas</span></h4>
      </div>
        <div class="card-tools">
        </div>
        </div>
        <div class="card-body pt-0">
          <!-- The calendar -->
          <div id="calendar" style="width: 100%"></div>
        </div>
        
      </div>

      <!-- Jadwal card -->
      <div class="card">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h3 class="card-title">
              <i class="nav-icon fas fa-solid fa-clock"></i>
              Jadwal
            </h3>
            <a href="/jadwal/<%= kelas_code %>">Lihat semua</a>
          </div>
          <div class="card-tools">
          </div>
        </div>
         <!--Card Body  -->
         <div class="card-body table-responsive p-0">
          <table class="table table-striped table-valign-middle">
            <thead>
              <tr>
                <th>Waktu</th>
                <th>Tipe Kelas</th>
                <th>Deskripsi</th>
              </tr>
            </thead>
            <tbody>
              <% arr_jadwal.forEach(jadwal => { %>
                <tr>
                  <td><%= moment(jadwal.tanggal).locale('id').format('dddd, Do MMMM YYYY, h:mm A') %></td>
                  <td><%= jadwal.class_type %></td>
                  <td><%= jadwal.description %></td>
                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>
        </div>
      </section>
    </div>
  </section>
  
    <%- include('../partials/footer') %>

<!-- TO DO LIST TRIADI WICAKGANA -->
<!-- FULL CALENDAR -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var calendarEl = document.getElementById("calendar");
    fetch('/dashboard/<%= kelas.kelas_code %>/kalendar')
    .then(response => response.json())
    .then(data => {
      console.log(data)
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: "dayGridMonth",
        events: data,
        eventContent: function (arg){
          var eventTitle = arg.event.title;
          var eventColor = '';
          if (arg.event.extendedProps.eventType === 'jadwal') {
            eventColor = 'blue'; // Set the text color for jadwal events
          } else if (arg.event.extendedProps.eventType === 'tugas') {
            eventColor = 'red'; // Set the text color for tugas events
          }
          return {
            html: `<div class="fc-content" style="color: ${eventColor};">${eventTitle}</div>`
          };
        }
      });
      calendar.render();
    })
    .catch(error => {
      console.error(error);
    });
  });
</script>
<script>
  function EditKelasToggle(){
    if($("#edit_nama_kelas").css("display") == 'none'){
      $("#nama_kelas").css("display", "none")
      $("#edit_nama_kelas").css("display", "block")
    }else{
      $("#nama_kelas").css("display", "block")
      $("#edit_nama_kelas").css("display", "none")
    }

    if($("#edit_deskripsi_kelas").css("display") == 'none'){
      $("#kelas_desc").css("display", "none")
      $("#edit_deskripsi_kelas").css("display", "block")
    }else{
      $("#kelas_desc").css("display", "block")
      $("#edit_deskripsi_kelas").css("display", "none")
    }

    if($("#edit_kelas_2").css("display") == 'none'){
      $("#edit_kelas_2").css("display", "block")
      $("#edit_kelas_1").css("display", "none")
    }else{
      $("#edit_kelas_2").css("display", "none")
      $("#edit_kelas_1").css("display", "block")
    }
  }

  $("#edit_kelas_form").submit(function(e){
    e.preventDefault()
    const data = new FormData(event.target)
    const value = Object.fromEntries(data.entries());
    $.ajax({
        type: "POST",
        url: "/dashboard/<%= kelas_code %>/edit",
        data: value,
        success: function(res){
          console.log(res)
          alert(res.message)
          if(res.status == 'SUCCESS') window.location.href = "/dashboard/<%= kelas_code %>"
        }
      });
  })
</script>