<%- include('../partials/header') %> 

<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Jadwal</h1>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <br>
  <section class="content">

    <% if (jadwal.length == 0) { %>

      <% if (role == "guru") { %>
        <div class="col-sm-3 ml-auto mb-5">
        <button
        class="btn btn-light elevation-1"
        data-toggle="modal"
        data-target="#modal-jadwal"
        style="background-color: antiquewhite"
        >
        <i class="fa fa-plus"></i> Tambah Jadwal
      </button>
    </div>
      <% } %>
      <div class="text-center">
        <h4>Kelas ini belum memiliki jadwal</h4>
       <img class="img-fluid" src="/image/assetmateri.png" alt="Asset Materi" width="500" height="500">
      </div>

      <% } else { %>

    <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
          <div class="card card-danger card-outline">
          <div class="card-header">
            <div class="d-flex justify-content-between">
              <h3 class="text mb-1 pb-2 mt-1">Jadwal Mendatang</h3>
              <!-- Tombol nambah tugas untuk guru -->
              <% if (role == "guru") { %>
                <button
                class="btn btn-light"
                data-toggle="modal"
                data-target="#modal-jadwal"
                style="background-color: antiquewhite"
                onmouseover="this.style.backgroundColor='#C8BCAC';"
                onmouseout="this.style.backgroundColor='antiquewhite';"
                >
                <i class="fa fa-plus"></i> Tambah Jadwal
              </button>
              <% } %>
            </div>
          </div>

          <div class="card-body">
            <table id="tbl-jadwal" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Tanggal</th>
                  <th>Tipe kelas</th>
                  <th>Deskripsi Kegiatan</th>
                  <th>Lokasi</th>
                  <% if (role == "guru") { %>
                    <th>Aksi</th>
                  <% } %>
                </tr>
              </thead>
              <tbody>
                <% upcomingSchedules.forEach(function(data) { %>
                  <tr>
                    <td><%= moment(data.tanggal).format('dddd, Do MMMM YYYY, h:mm A') %></td>
                    <td><%= data.class_type %></td>
                    <td><%= data.description %></td>
                    <td><%= data.class_location %></td>
                    <% if (role == "guru") { %>
                    <td>
                      <!-- Action khusus guru/admin kelas -->
                      <form method="post" action="/jadwal/<%= kelas.kelas_code %>/delete/<%= data.jadwal_id %>" id="delete-jadwal-<%- data.jadwal_id %>">
                      <input type="hidden" value="<%= data.jadwal_id %>" name="jadwal_id">
                      </form>
                      <a href="javascript:void(0)" onclick="if(confirm('Konfirmasi hapus jadwal')){$('#delete-jadwal-<%- data.jadwal_id %>').submit()}"
                      ><i class="fa fa-trash" style="color: black; margin-right: 15px;" title="Delete Jadwal"></i
                        ></a>
                      <a href="javascript:void(0)" onclick="openUpdateJadwal('<%= data.jadwal_id %>','<%= data.tanggal %>','<%= data.description %>','<%= data.class_location %>','<%= data.class_type %>')"><i class="fas fa-edit" style="color: black;" title="Edit Jadwal"></i></a>
                    </td>
                    <% } %>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>

        <!-- schedule expired -->
        <div class="card card-default card-outline">
          <h4 class="text mb-1 pb-2 ml-4 mt-2">Jadwal Berlalu</h4>
          <div class="card-body">
            <table id="tbl-past-schedules" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Tanggal</th>
                  <th>Tipe kelas</th>
                  <th>Deskripsi Kegiatan</th>
                  <th>Lokasi</th>
                </tr>
              </thead>
              <tbody>
                <% pastSchedules.forEach(function(data) { %>
                  <tr>
                    <td><%= moment(data.tanggal).format('dddd, Do MMMM YYYY, h:mm A') %></td>
                    <td><%= data.class_type %></td>
                    <td><%= data.description %></td>
                    <td><%= data.class_location %></td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
        </div>
      </div>
      </div>
      <% } %>
    </div>
  </section>

  <!-- POST JADWAL -->
  <div class="modal fade" id="modal-jadwal">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Tambah Jadwal Baru</h5>
          <button type="close" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="buat_jadwal">
            <div class="form-group">
              <label for="tanggalJadwal" class="col-form-label">Tanggal</label>
              <input class="form-control" type="text" name="deadlineTugas" id="tanggalJadwal">
            </div>
            <div class="form-group">
              <label for="tipeKelas" class="col-form-label">Tipe Kelas (Online / Offline)</label>
              <select name="class_type" id="tipeKelas" class="form-control">
                <option value="online">Online</option>
                <option value="offline">Offline</option>
              </select>
            </div>
            <div class="form-group">
              <label for="deskripsiJadwal" class="col-form-label">Deskripsi Kegiatan</label>
              <textarea class="form-control" id="deskripsiJadwal" name="description"></textarea>
            </div>
            <div class="form-group">
              <label for="lokasi" class="col-form-label">Lokasi / Link meeting</label>
              <input type="text" class="form-control" id="lokasi" name="class_location">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-default" 
            style="background-color: antiquewhite"
            onmouseover="this.style.backgroundColor='#C8BCAC';"
            onmouseout="this.style.backgroundColor='antiquewhite';"
            >Buat</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- EDIT JADWAL -->
  <div class="modal fade" id="modal-edit-jadwal">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Jadwal</h5>
          <button type="close" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="edit_jadwal">
            <input type="hidden" name="id_edit_jadwal" id="id_edit_jadwal">
            <div class="form-group">
              <label for="edit_tanggal" class="col-form-label">Tanggal</label>
              <input type="text" class="form-control" name="deadlineTugas" id="edit_tanggal">
            <div class="form-group">
              <label for="edit_class_type" class="col-form-label">Tipe Kelas</label>
              <select name="edit_class_type" id="edit_class_type" class="form-control">
                <option value="online">Online</option>
                <option value="offline">Offline</option>
              </select>
            </div>
            <div class="form-group">
              <label for="edit_deskripsi_jadwal" class="col-form-label">Deskripsi Kegiatan</label>
              <textarea class="form-control" name="edit_deskripsi_jadwal" id="edit_deskripsi_jadwal"></textarea>
            </div>
            <div class="form-group">
              <label for="edit_lokasi">Lokasi</label>
              <input type="text" class="form-control" id="edit_lokasi" name="edit_lokasi">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" id="edit_jadwal_submit" class="btn btn-default"
            style="background-color: antiquewhite"
            onmouseover="this.style.backgroundColor='#C8BCAC';"
            onmouseout="this.style.backgroundColor='antiquewhite';"
            >Simpan</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
<%- include('../partials/footer') %>
<script>
  $("#buat_jadwal").submit(function (e) {
    e.preventDefault();
    const data = new FormData(event.target);
    const value = Object.fromEntries(data.entries());
    
    $.ajax({
      type: "POST",
      url: "/jadwal/<%= kelas.kelas_code %>/post_jadwal/<%- jadwal.jadwal_id %>",
      data: value,
      success: function(res){
        alert(res.message);
        if (res.status == "SUCCESS") {
          window.location.href = "/jadwal/<%= kelas.kelas_code %>";
        }
      }
    })
  });
</script>
<script>
  function openUpdateJadwal(id, tanggal, deskripsi, lokasi, tipe_kelas){
    $("#id_edit_jadwal").val(id)
    let dV = new Date(moment(tanggal).format('YYYY-MM-DD HH:mm:ss'))
    console.log(moment(tanggal).format('YYYY-MM-DD HH:mm:ss'))
    console.log(dV)
    $("#edit_tanggal").data('daterangepicker').setStartDate(dV);
    $("#edit_class_type").val(tipe_kelas)
    $("#edit_deskripsi_jadwal").val(deskripsi)
    $("#edit_lokasi").val(lokasi)
    $("#modal-edit-jadwal").modal('show')
  }


  $("#edit_jadwal").submit(function (e) {
    console.log("OKOKOKOK")
    e.preventDefault();
    const data = new FormData(event.target);
    const value = Object.fromEntries(data.entries());
    
    $.ajax({
      type: "POST",
      url: "/jadwal/<%= kelas.kelas_code %>/update",
      data: value,
      success: function(res){
        alert(res.message);
        if (res.status == "SUCCESS") {
          window.location.href = "/jadwal/<%= kelas.kelas_code %>"
        }
      }
    })
  });
</script>
