<%- include('../partials/header') %>

<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Kelasmu</h1>
      </div>
      <div class="col-sm-3 ml-auto">
        <button
          class="btn btn-light"
          data-toggle="modal"
          data-target="#modal-buat-kelas"
          style="background-color: antiquewhite"
          onmouseover="this.style.backgroundColor='#C8BCAC';"
          onmouseout="this.style.backgroundColor='antiquewhite'"
        >
          <i class="nav-icon fa fa-plus"></i> Buat kelas
        </button>
        <big> atau </big>
        <button
          class="btn btn-light"
          data-toggle="modal"
          data-target="#modal-gabung-kelas"
          style="background-color: antiquewhite"
          onmouseover="this.style.backgroundColor='#C8BCAC';"
          onmouseout="this.style.backgroundColor='antiquewhite'"
        >
          <i class="nav-icon fa fa-arrow-right"></i> Gabung kelas
        </button>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<br>
<section class="content">
  <div class="height-100percent container-fluid">
    <% if (kelas.length == 0) { %>
      <div class="text-center">
        <h4>Yahh.. kamu belum memiliki kelas, ayo buat atau gabung kelas!</h4>
       <img class="img-fluid" src="/image/assetkosong.png" alt="Asset Kosong" width="500" height="500">
      </div>
     <% } %>
    <div class="d-flex flex-row" style="row-gap: 16px">
      <div class="flex-row w-100 no-gutters row">
        <!-- card materi -->
        <% kelas.forEach(function(data) { %>   
        <div class="my-3 pr-4 pl-0 col-12 col-sm-6 col-md-6 col-lg-4">
          <div class="card card-widget widget-user">
            <div class="widget-user-header bg-dark">
              <div class="widget-user-image">
                <img
                  class="img-circle elevation-2"
                  src="/image/<%= data.kelas_photo %>"
                  alt="Avatar"
                  width="50"
                  height="50"
                />
              </div>
            </div>
            <div class="card-footer">
              <div class="row justify-content-between">
                <h5
                  class="card-title mb-2 align-self-center"
                  style="font-weight: 500"
                >
                  <%= data.kelas_name %>
                </h5>
                <!-- ngarah ke /dashboard/kodekelas -->
                <a 
                href="/dashboard/<%= data.kelas_code %>" 
                class="btn btn-light" 
                style="background-color: antiquewhite"
                onmouseover="this.style.backgroundColor='#C8BCAC';"
                onmouseout="this.style.backgroundColor='antiquewhite'"
                onmouseenter="this.style.backgroundcolor='#80786E'"
                >Masuk kelas</a>
                </div>
                <p class="lead mb-0 float-right">
                  Kode Kelas : <%= data.kelas_code %>
                </p>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</section>

<!-- Modal buat kelas -->
<div class="modal fade" id="modal-buat-kelas">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Buat Kelas Baru</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="buatKelas_form">
          <div class="form-group">
            <label for="nama-kelas" class="col-form-label">Nama Kelas</label>
            <input
              name="kelas_name"
              type="text"
              class="form-control"
              id="nama-kelas"
            />
          </div>
          <div class="form-group">
            <label for="deskripsiMateri" class="col-form-label"
              >Deskripsi</label
            >
            <textarea
              name="kelas_description"
              class="form-control"
              id="deskripsiMateri"
            ></textarea>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Batal
        </button>
        <button type="submit" class="btn btn-light" style="background-color: antiquewhite;">Buat</button>
      </div>
    </form>
    </div>
  </div>
</div>
<!-- Modal buat kelas END -->

<!-- Modal gabung kelas -->
<div class="modal fade" id="modal-gabung-kelas">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Gabung Kelas</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="gabungKelas_form">
          <div class="form-group">
            <label for="kode-kelas" class="col-form-label"
              >Masukkan kode kelas</label
            >
            <input type="text" class="form-control" id="kode_kelas" name="kode_kelas"/>
          </div>
          <p style="color: brown;">*Silahkan minta kode kelas ke guru anda</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Batal
          </button>
          <button type="submit" class="btn btn-light" style="background-color: antiquewhite;">Gabung</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal gabung kelas END -->
<%- include('../partials/footer') %>
<script>
  $("#buatKelas_form").submit(function (e) {
    e.preventDefault();
    const data = new FormData(event.target);
    const value = Object.fromEntries(data.entries());

    $.ajax({
      type: "POST",
      url: "/list-kelas",
      data: value,
      success: function (res) {
        alert(res.message);
        if (res.status == "SUCCESS") {
          window.location.href = "/list-kelas";
        }
      },
    });
  });
</script>
<script>
  $("#gabungKelas_form").submit(function (e) {
    e.preventDefault();
    const data = new FormData(event.target);
    const value = Object.fromEntries(data.entries());

    $.ajax({
      type: "POST",
      url: "/list-kelas/joinkelas",
      data: value,
      success: function (res) {
        alert(res.message);
        if (res.status == "SUCCESS") {
          window.location.href = "/list-kelas";
        }
      },
    });
  });
</script>
