<%- include('../partials/header') %>

<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Materi</h1>
      </div>
      <div class="col-sm-2 ml-auto">
        <% if (role == "guru") { %>
        <button
          class="btn btn-light elevation-1"
          data-toggle="modal"
          data-target="#modal-buat-materi"
          style="background-color: antiquewhite"
        >
          <i class="nav-icon fas fa-plus"></i> Buat Materi
        </button>
        <% } else { %> <% } %>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<br>

<section class="content">
  <div class="height-100percent container-fluid">
    <% if (materi_arr.length == 0) { %>
      <div class="text-center">
        <h4>Kelas ini belum ada materi</h4>
       <img class="img-fluid" src="/image/assetmateri.png" alt="Asset Materi" width="500" height="500">
      </div>
     <% } %>
    <div class="d-flex flex-row" style="row-gap: 16px">
      <div class="flex-row w-100 no-gutters row">
        <!-- card materi -->
        <% materi_arr.forEach(materi => { %>
          <div class="my-3 pr-4 pl-0 col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title mb-1" style="font-weight: 500">
                  <%= materi.judul %>
                </h5>
                <!-- UNTUK ROLE GURU -->
                <% if (role == "guru") { %>
                  <div class="float-right">
                   <form method="post" action="/materi/<%= kelas_code %>/delete/<%= materi.materi_id %>" id="delete-materi-<%= materi.materi_id %>">
                     <input type="hidden" value="<%= materi.materi_id %>" name="materi_id">
                   </form>
                   <a href="javascript:void(0)" onclick="if(confirm('Hapus Materi Ini?')){$('#delete-materi-<%= materi.materi_id %>').submit()}"><i class="fa fa-trash" style="color: black;" title="Delete Materi"></i></a>
                  </div>
                 <% } %>
              </div>
              <div class="card-body">
                <p class="card-text">
                  <% if (materi.description.length > 180) { %>
                    <%= materi.description.slice(0, 180)+'...' %>
                  <% } else { %>
                    <%= materi.description.slice(0, 180) %>
                  <% } %>
                </p>
                <a href="/materi/<%= kelas_code %>/detail/<%= materi.materi_id %>" class="btn btn-light" style="background-color: antiquewhite;"
                >Lihat Materi</a
                >
                
              </div>
            </div>
          </div>
          <% }) %>
        <!-- card materi END -->
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="modal-buat-materi">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Buat Materi</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Form Buat Materi -->
        <form id="buat_materi">
          <div class="form-group">
            <label for="judulMateri" class="col-form-label">Judul</label>
            <input type="text" class="form-control" id="judulMateri" name="judulMateri" />
          </div>
          <div class="form-group">
            <label for="deskripsiMateri" class="col-form-label"
              >Deksripsi</label
            >
            <textarea class="form-control" id="deskripsiMateri" name="descriptionMateri"></textarea>
          </div>
          <div id="attachmentContainer">
            <div class="form-group">
              <label for="fileMateri1" class="col-form-label"
                >Attachment (opsional)</label
              >
              <input type="file" class="form-control" id="fileMateri1" name="attachment" />
            </div>
          </div>
          <!-- BUTTON ROW CONTROL -->
          <button class="btn btn-primary" id="addRow">Tambah Attachment</button> <button class="btn btn-default" id="deleteRow">Hapus Attachment</button>
          <!-- BUTTON ROW CONTROL -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancel
          </button>
          <button type="submit" class="btn btn-light" style="background-color: antiquewhite;">Buat</button>
        </div>
      </form>
      <!-- Form Buat Materi END-->
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
<script>
  $("#buat_materi").submit(function (e) {
    e.preventDefault()
    var formData = new FormData();
    formData.append("judul_materi",$("#judulMateri").val())
    formData.append("deskripsi_materi",$("#deskripsiMateri").val())
    formData.append("upload_materi",$("#fileMateri1")[0].files[0])
    if($("#fileMateri2").length > 0) formData.append("upload_materi",$("#fileMateri2")[0].files[0])
    if($("#fileMateri3").length > 0) formData.append("upload_materi",$("#fileMateri3")[0].files[0])
    if($("#fileMateri4").length > 0) formData.append("upload_materi",$("#fileMateri4")[0].files[0])
    if($("#fileMateri5").length > 0) formData.append("upload_materi",$("#fileMateri5")[0].files[0])
    $.ajax({
        type: "POST",
        enctype: "multipart/form-data",
        processData: false,
        contentType: false,
        cache: false,
        url: "/materi/<%= kelas_code %>/post_materi",
        data: formData,
        success: function(res){
          console.log(res)
          alert(res.message)
          if(res.status == 'SUCCESS'){
            window.location.href = '/materi/<%= kelas_code %>'
          }
        }
      });
  })
</script>

<script type="text/javascript">
  // Add Row Attachment
  document.getElementById('addRow').addEventListener('click', function (e) {
  e.preventDefault();

  var container = document.getElementById('attachmentContainer');
  if(container.children.length == 5){
    alert("Attachment cannot more than 5")
    return
  } 
  var newAttachment = document.createElement('div');
  newAttachment.classList.add('form-group');
  newAttachment.innerHTML =
    '<label for="fileMateri' +
    (container.children.length + 1) +
    '" class="col-form-label">Attachment (opsional)</label>' +
    '<input type="file" class="form-control" name="attachment[]" id="fileMateri'+(container.children.length + 1)+'"/>';
  container.appendChild(newAttachment);
});
</script> 

<script type="text/javascript">
   // Delete row attachment
   document.getElementById('deleteRow').addEventListener('click', function (e) {
  e.preventDefault();

  var container = document.getElementById('attachmentContainer');
  if (container.children.length > 1) {
    container.removeChild(container.lastChild);
  }
});
</script>