<%- include('../partials/header') %>

<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Profil</h1>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<br />
<section class="content">
  <div class="row">
    <section class="col-lg-3">
      <div class="card card-primary card-outline">
        <div class="card-body box-profile">
          <div class="text-center">
            <img
              class="profile-user-image img-size-64 img-circle"
              src="/image/<%- user.photo_path %>"
              alt="User profile picture"
            />
          </div>
          <h3 class="profile-username text-center"><%- user.username %></h3>
          <div class="dropdown-divider"></div>
          <button class="btn btn-default btn-block" >
            <label for="edit_photo_profile" style="margin: 0;">
              <span>Ubah foto profil</span>
            </label>
          </button>
          <form id="formEditPhoto">
            <input type="file" name="edit_photo_profile" id="edit_photo_profile" onchange="submitPhoto()" style="visibility: hidden;">
          </form>
        </div>
      </div>
    </section>
    <section class="col-lg-9">
      <div class="card">
        <div class="card-header p-2">
          <div class="nav-item"><a class="nav-link">Pengaturan Akun</a></div>
        </div>
        <div class="card-body">
          <form id="form-edit" class="form-horizontal">
            <input
                  class="form-control"
                  id="inputId"
                  name="inputId"
                  value="<%= user.user_id %>"
                  type="hidden"
                  readonly
                />
            <div class="form-group row">
              <label for="inputName" class="col-sm-2 col-form-label"
                >Nama Lengkap</label
              >
              <div class="col-sm-10">
                <input
                  class="form-control"
                  id="inputName"
                  name="inputName"
                  value="<%= user.username %>"
                  readonly
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail" class="col-sm-2 col-form-label"
                >Email Anda</label
              >
              <div class="col-sm-10">
                <input
                  class="form-control"
                  id="inputEmail"
                  name="inputEmail"
                  value="<%= user.email %>"
                  readonly
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="inputMobile" class="col-sm-2 col-form-label"
                >Nomor Ponsel</label
              >
              <div class="col-sm-10">
                <input
                  class="form-control"
                  id="inputMobile"
                  name="inputMobile"
                  value="<%= user.mobile_number %>"
                  readonly
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="inputAddress" class="col-sm-2 col-form-label"
                >Alamat</label
              >
              <div class="col-sm-10">
                <input
                  class="form-control"
                  id="inputAddress"
                  name="inputAddress"
                  value="<%= user.address %>"
                  readonly
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="inputGender" class="col-sm-2 col-form-label"
                >Jenis Kelamin</label
              >
              <div class="col-sm-10">
                <select name="inputGender" id="inputGender" class="form-control" disabled>
                  <option value="Male" <% if (user.gender == "Male") { %>selected<% } %>>Laki-laki</option>
                  <option value="Female" <% if (user.gender == "Female") { %>selected<% } %>>Perempuan</option>
                </select>
              </div>
            </div>
            <div class="row">
              <button id="btn-edit" class="btn btn-default" 
              style="background-color: antiquewhite" 
              type="button"
              onmouseover="this.style.backgroundColor='#C8BCAC';"
              onmouseout="this.style.backgroundColor='antiquewhite';"
              >Edit</button>
              <button id="btn-save" class="btn btn-success" type="submit" style="display: none;">Simpan</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</section>
<%- include('../partials/footer') %>
<script>
  $("#btn-edit").click(function(){
    $("#btn-edit").hide()
    $("#btn-save").show()
    $("input, select").each(function() {
      $(this).removeAttr("readonly")
      $(this).removeAttr("disabled")
    });
  })


  $("#form-edit").submit(function(e){
    e.preventDefault()
    const data = new FormData(event.target);
    const value = Object.fromEntries(data.entries());
    $.ajax({
        type: "POST",
        url: "/profile/edit",
        data: value,
        success: function(res){
          console.log(res)
          alert(res.message)
          if(res.status == 'SUCCESS') window.location.href = "/profile"
        }
      });
  })

  function submitPhoto(){
    var formData = new FormData();
    formData.append("edit_photo_profile",$("#edit_photo_profile")[0].files[0])
    $.ajax({
        type: "POST",
        enctype: "multipart/form-data",
        processData: false,
        contentType: false,
        cache: false,
        url: "/profile/edit_photo_profile",
        data: formData,
        success: function(res){
          console.log(res)
          alert(res.message)
          if(res.status == 'SUCCESS'){
            window.location.href = '/profile'
          }
        }
      });
  }
</script>
